<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <h1><%=title%></h1>
	  <div id='main'>
		  <%- body %>
		  <hr/>
		  <p class='api'>Also available as a REST API (in JSON):<br/>E.g.:<a href="http://urlexpander.herokuapp.com/url.json?url=<%=shortUrl%>">http://felipernb.no.de/url.json?url=<%=shortUrl%></a></p>
	  </div>
  </body>
</html>
